body {
  background-image: url("../imgs/space1.jpg");
/*background-color: red;*/
}

.welcome {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1.5px;
  padding-left: 1%;
  font-size: 8em;
  margin-top: .1em;
  color: yellow;
}

.the-truth {
  color: yellow;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  padding-left: 12%;
  font-size: 2em;
  margin-top: -2em;
}

.maybe {
  color: yellow;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  font-size: 2em;
  margin-top: 35%;
  margin-left: 85%;
}

.wizard-container {
  width: 100%;
}

#images {
  margin-top: 8%;
  margin-left: 2%;
  width: 70%;
  position: fixed;
  top: 0;
}

#cloud {
  margin-top: 2%;
  width: 90%;
  position: fixed;
  top: 0;
  /*opacity: 0.5;*/
}

.text-container {
  position: fixed;
  top: 0;
  margin-top: 10%;
  margin-left: 58.5%;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: .5px;
}

table {
  font-size: 1.2em;

}

#temp {
  font-size: 3em;

}

#heading {
  border-bottom: 1px solid;
}

td {
  padding: 7px;
}
