<p id='temp'><%= temp %>°</p>
  <table>
    <tr id='heading'>
      <td id='precip'>Precipitation </td>
      <td id='humidity'>Humidity </td>
      <td id='wind'>Windspeed </td>
    </tr>
    <tr id='table-body'>
      <td id='precip'><%= precip.capitalize %> </td>
      <td id='humidity'><%= humidity %> </td>
      <td id='wind'><%= wind %> mph</td>
    </tr>
  </table>
