<h1 class="welcome"> weather wizard </h1>

<!-- the weather a year from now will be exactly ... -->

<div class="wizard-container">
  <img id="images" src="imgs/1Body.png" alt="Wizard Body">
  <!-- <img id="images" src="imgs/2Baker.png" alt="Baker's Head"> -->
  <!-- <img id="images" src="imgs/3Angry.png" alt="Angry Head"> -->
  <img id="images" src="imgs/4Twonk.png" alt="Twonk Head">
  <div class="text-container">
    <table>
      <p id='temp'><%= @temp %>°</p>
      <tr id='heading'>
        <td id='precip'>Precipitation </td>
        <td id='humidity'>Humidity </td>
        <td id='wind'>Windspeed </td>
      </tr>
      <tr id='table-body'>
        <td id='precip'><%= @precip.capitalize %> </td>
        <td id='humidity'><%= @humidity %> </td>
        <td id='wind'><%= @wind %> </td>
      </tr>
    </table>
  </div>
  <img id="cloud" src="imgs/5Cloud.png" alt="Cloud">

</div>

